/*BODY*/
body{
    /*background-color: rgb(18, 18, 18);
    color: white;*/
    background-color:rgb(237, 237, 237);
    color: black;
}

/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap');
/*font-family: 'DM Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/*font-family: 'Caveat', cursive;*/

@font-face {
    font-family: "fira code reg";
    src: url("../fuentes/FiraCode-Regular.ttf")
    format('truetype');
}

@font-face{
    font-family: "fira code med";
    src: url("../fuentes/FiraCode-Medium.ttf")
    format('truetype');
}

/*HEADER*/
header{
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.cf-header{
    margin-right: 6%;
    margin-left: 6%;

    display:flex;
    justify-content: space-around;
    height: 10vh;
}

/*LOGO*/
.logo{
    display:flex;
    justify-content:center;
    width: 5%;
    height: 100%;
}

.img-logo{
    width: 100%;
    height: 100%;
    min-width: 100px; /*ancho*/
    min-height: 50px; /*alto*/
}

/*TITULO DE LA PAGINA*/
.cf-tituloPag{
    display:flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    margin-right: 2.5%;
    margin-left: 7.5%;
}

.cf-tituloPag h1{
    font-family: 'DM Sans', sans-serif;
}

/*PANEL DE REDES SOCIALES*/
.cf-redSocial{
    display:flex;
    justify-content:space-between;
    align-items: center;

    width: 15%;
}

.a-redSocial{
    width: 20%;
    height: 50%;
}

.img-redSocial{
    min-width: 50px; /*ancho*/
    min-height: 50px; /*alto*/
    width: 100%;
    height: 100%;
}

/*SECTION*/
section{
    margin-left: 6%;
    margin-right: 6%;
    height: fit-content;
}

section p{
    width: 50%;
    font-size: 1.2rem;
    font-family: "fira code reg";
}

section h1{
    font-size: 1.5rem;
    font-family: "fira code med";
}

.cf-contenido-section{
    margin-left: 1%;
    margin-right: 1%;

    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cf-titulo{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.25%;
}

.cf-introduccion{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.cf-introduccion p{
    margin-top: 0%;
    text-align:center;
    margin-bottom: 2.5%;
}

/*INGREDIENTES*/

.cf-ingredientes{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: 100%;
}

.ingredientes-lista h2{
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Caveat', cursive;
}

li{
    font-family: 'Caveat', cursive;
    margin-bottom: 1.1%;
}

.ingredientes-lista{
    margin-left: 1%;
    width: fit-content;
    height: fit-content;
}

.ingredientes-imagen{
    max-width: 30vw;
    height: 45vh;
}

.imagen{
    width: 100%;
    height: 100%;
}


.ingredientes-lista ul{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    margin-top: 1%;
}

.ingredientes-lista li{
    font-size: 1.1rem;
    margin-bottom: 0.1%;
}

.imagen2{
    max-width: 100%;
}

/*PREPARACION*/
.cf-preparacion{
    margin-left: 1%;
    margin-top:4%;
    margin-bottom: 1%;
    width: 100%;
    height: fit-content;
}
.cf-preparacion h2{
    font-family: 'Caveat', cursive;
}

.cf-preparacion ol{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
}

.cf-preparacion li{
    font-size: 1rem;
}

/*EXTRAS*/
.cf-extras{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;;

    height:fit-content;
    margin-bottom: 2%;
}

/*CARDS*/
.container{
    margin-top: 2.5%;
    margin-bottom: 2.5%;   
}

.container h3{
    font-family: "fira code reg";
    margin-bottom: 1.5%;
}

.card-body{
    color:black;
    font-family: "fira code reg";
}

/*BOTON MODO OSCURO*/
#cfBotonMO, #cfBotonDatos, #cfBotonInicio{
    display:flex;
    justify-content: center;
}

/*FOOTER*/
footer{
    display:flex;
    justify-content: space-around;
    align-items:space-around;
    margin-top: 2.5%;
}


/*MEDIA QUERIES*/
/*@media (min-width: 767px){
    .imagen2{
        display:none;
    }
}

@media (max-width: 767px){
    .cf-tituloPag h1{
        font-size:larger;
    }

    body, header{
        background-color: black;
    }
}


@media (min-width: 992px){
    .cf-contenido-section{
        background-color: rgb(121, 121, 121);
        color: black;
    }
}*/